:root {
  --main-bg-color: #f9f9fc;
  --main-font-color-dark: #000000;
  --main-font-color-light: #ffffff;
  --main-theme-color: #5e3bee;

  --secondory-font-color: #333333;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1;
  background-color: var(--main-bg-color);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
